

#container{
    margin: 0 auto;
    width: 70%;
}
.wrapper {
    position: relative;
    background-color: #000;
    cursor: pointer;
    border: none;                    
}
img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    border: none;
   
    }
div.content {
    border: none;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
   }
.overlay {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: rgba(0,0,0,.8);
    width: 100%;
    text-align: center;
    border: none;
    }

.wrapper:hover .overlay {
    opacity: 1;
    }

}

